//@font-face {
//  font-family: 'Montserrat Black';
  //src: url('../fonts/montserrat_black.eot'); /* IE 9 Compatibility Mode */
  //src: url('../fonts/montserrat_black.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
  //url('../fonts/montserrat_black.woff2') format('woff2'), /* Super Modern Browsers */
  //url('../fonts/montserrat_black.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
  //url('../fonts/montserrat_black.ttf') format('truetype'), /* Safari, Android, iOS */
  //url('../fonts/montserrat_black.svg#montserrat_black') format('svg'); /* Chrome < 4, Legacy iOS */
//}

//@font-face {font-family: 'Montserrat Black'; src: url('../fonts/Montserrat/Montserrat-Black.ttf');}
//@font-face {font-family: 'Montserrat BlackItalic'; src: url('../fonts/Montserrat/Montserrat-BlackItalic.ttf');}
//@font-face {font-family: 'Montserrat Bold'; src: url('../fonts/Montserrat/Montserrat-Bold.ttf');}
//@font-face {font-family: 'Montserrat BoldItalic'; src: url('../fonts/Montserrat/Montserrat-BoldItalic.ttf');}
//@font-face {font-family: 'Montserrat ExtraBold'; src: url('../fonts/Montserrat/Montserrat-ExtraBold.ttf');}
//@font-face {font-family: 'Montserrat ExtraBoldItalic'; src: url('../fonts/Montserrat/Montserrat-ExtraBoldItalic.ttf');}
//@font-face {font-family: 'Montserrat ExtraLight'; src: url('../fonts/Montserrat/Montserrat-ExtraLight.ttf');}
//@font-face {font-family: 'Montserrat ExtraLightItalic'; src: url('../fonts/Montserrat/Montserrat-ExtraLightItalic.ttf');}
//@font-face {font-family: 'Montserrat Italic'; src: url('../fonts/Montserrat/Montserrat-Italic.ttf');}
//@font-face {font-family: 'Montserrat Light'; src: url('../fonts/Montserrat/Montserrat-Light.ttf');}
//@font-face {font-family: 'Montserrat LightItalic'; src: url('../fonts/Montserrat/Montserrat-LightItalic.ttf');}
//@font-face {font-family: 'Montserrat Medium'; src: url('../fonts/Montserrat/Montserrat-Medium.ttf');}
//@font-face {font-family: 'Montserrat MediumItalic'; src: url('../fonts/Montserrat/Montserrat-MediumItalic.ttf');}
//@font-face {font-family: 'Montserrat Regular'; src: url('../fonts/Montserrat/Montserrat-Regular.ttf');}
//@font-face {font-family: 'Montserrat SemiBold'; src: url('../fonts/Montserrat/Montserrat-SemiBold.ttf');}
//@font-face {font-family: 'Montserrat SemiBoldItalic'; src: url('../fonts/Montserrat/Montserrat-SemiBoldItalic.ttf');}
//@font-face {font-family: 'Montserrat Thin'; src: url('../fonts/Montserrat/Montserrat-Thin.ttf');}
//@font-face {font-family: 'Montserrat ThinItalic'; src: url('../fonts/Montserrat/Montserrat-ThinItalic.ttf');}

@import "../fonts/Montserrat/montserrat";
