@import "./node_modules/foundation-sites/scss/foundation";

@include foundation-normalize();

* {
  box-sizing: border-box;
}

.clear {
  clear: both;
  width: 100%;
  height: 0;
  margin: 0;
  padding: 0;
  border: none;
}
