/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "foundation";
@import "libs/mixin";
@import "fonts";
@import "pages/home";
@import "pages/articles-page";
@import "pages/catalog-page";
@import "pages/catalog-page-doors";
@import "pages/about-page";
@import "blocks/header";
@import "blocks/main-menu";
@import "blocks/articles-detail";
@import "blocks/our-partners";
@import "blocks/card-menu";
@import "blocks/title-h1";
@import "blocks/articles-list";
@import "blocks/benefits";
@import "blocks/steps";


.map {
  margin: 30px 0 10px;
  width: 100%;
  height: 300px
}
