.about-page {
  &__container {
    @include xy-grid-container();
    @include xy-grid();
    //@include xy-cell(12);
  }

  &__title {
    @include xy-cell(12);

    color: #000000;
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
    /* Text style for "К, аталог" */
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    margin-bottom: 90px;
  }

  &__content {
    @include xy-grid();
    @include xy-cell(12);

    img{
      max-width: 100%;
      max-height: 100%;
    }
  }
}
