.catalog-page {
  @include simplePageTitle();

  &__container {
    @include xy-grid-container();
    @include xy-grid();
    //@include xy-cell(12);
  }

  &__menu {
    @include xy-grid();
    @include xy-cell(12);
    //@include xy-cell-offset(1);
    justify-content: center;
  }
}
