.catalog-page-doors {
  @include simplePageTitle();

  &__container {
    @include xy-grid-container(100%);
  }

  &__header {
    @include xy-grid()
  }


  &__steps {
    @include xy-cell(2);
  }

  &__promo {
    @include xy-cell(4);
  }

  &__promo-item {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__promo-item-img {
    max-width: 100%;
  }

  &__hits {
    @include xy-cell(5);
    @include xy-cell-offset(1);

    position: relative;
    background-color: #eeeeee;
    border-radius: 25px;
  }

  &__hits-icon {
    width: 195px;
    height: 195px;
    background-color: #dd1b2a;
    border-radius: 50%;
    display: inline-flex;
    position: absolute;

    color: #ffffff;
    font-size: 25px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
    align-items: center;
    transform: rotate(-45deg) translateX(0) translateY(-50%);
    top: 0;
    left: 0;
  }
}
