.home {
  background: #000;
  color: #fff;
  min-height: 100vh;
  padding-top: 56px;

  &__contener {
    @include xy-grid-container();
    @include xy-grid();

  }

  &__content {
    @include xy-grid();
    @include xy-cell(12);
    flex-direction: column;
  }

  &__benefits {
    @include xy-cell(12);
  }

  &__info {
    @include xy-grid();
    min-height: 735px;
    background: #000 no-repeat bottom right;

    @include breakpoint_xs() {
      background-image: none !important;
    }
    @include breakpoint_sm() {
      background-image: none !important;
    }
  }

  &__title {
    @include xy-cell(6);
    margin-top: 150px;
    margin-bottom: 150px;
    color: #ffffff;
    font-family: "Montserrat - Black", serif;
    font-weight: 400;
    line-height: normal;
    font-size: 24px;


    @include breakpoint(small) {
      font-size: 24px;
    }
    @include breakpoint(medium) {
      font-size: 74px;
    }
  }

  &__link {
    color: #fff;
    text-decoration: none;
    display: block;
    margin-bottom: 100px;

    &:hover {
      text-decoration: underline;
    }
  }
}
