@font-face {
  font-family: 'MontserratBlack';
  src: url('./montserrat_black.eot'); /* IE 9 Compatibility Mode */
  src: url('./montserrat_black.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
  url('./montserrat_black.woff2') format('woff2'), /* Super Modern Browsers */
  url('./montserrat_black.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
  url('./montserrat_black.ttf') format('truetype'), /* Safari, Android, iOS */
  url('./montserrat_black.svg#montserrat_black') format('svg'); /* Chrome < 4, Legacy iOS */
}
