@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/**
 * Foundation for Sites
 * Version 6.6.3
 * https://get.foundation
 * Licensed under MIT Open Source
 */
/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace, monospace;
  font-size: 1em; }

a {
  background-color: transparent; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b,
strong {
  font-weight: bolder; }

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

img {
  border-style: none; }

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: 0.35em 0.75em 0.625em; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details {
  display: block; }

summary {
  display: list-item; }

template {
  display: none; }

[hidden] {
  display: none; }

* {
  box-sizing: border-box; }

.clear {
  clear: both;
  width: 100%;
  height: 0;
  margin: 0;
  padding: 0;
  border: none; }

.home {
  background: #000;
  color: #fff;
  min-height: 100vh;
  padding-top: 56px; }
  .home__contener {
    padding-right: 0.625rem;
    padding-left: 0.625rem;
    max-width: 75rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-flow: row wrap; }
    @media print, screen and (min-width: 40em) {
      .home__contener {
        padding-right: 0.9375rem;
        padding-left: 0.9375rem; } }
  .home__content {
    display: flex;
    flex-flow: row wrap;
    flex: 0 0 auto;
    width: calc(100% - 1.25rem);
    margin-left: 0.625rem;
    margin-right: 0.625rem;
    flex-direction: column; }
  .home__benefits {
    flex: 0 0 auto;
    width: calc(100% - 1.25rem);
    margin-left: 0.625rem;
    margin-right: 0.625rem; }
  .home__info {
    display: flex;
    flex-flow: row wrap;
    min-height: 735px;
    background: #000 no-repeat bottom right; }
    @media only screen and (max-width: 767px) {
      .home__info {
        background-image: none !important; } }
    @media (min-width: 768px) and (max-width: 991px) {
      .home__info {
        background-image: none !important; } }
  .home__title {
    flex: 0 0 auto;
    width: calc(50% - 1.25rem);
    margin-left: 0.625rem;
    margin-right: 0.625rem;
    margin-top: 150px;
    margin-bottom: 150px;
    color: #ffffff;
    font-family: "Montserrat - Black", serif;
    font-weight: 400;
    line-height: normal;
    font-size: 24px;
    font-size: 24px; }
    @media print, screen and (min-width: 40em) {
      .home__title {
        font-size: 74px; } }
  .home__link {
    color: #fff;
    text-decoration: none;
    display: block;
    margin-bottom: 100px; }
    .home__link:hover {
      text-decoration: underline; }

.articles-page__container {
  padding-right: 0.625rem;
  padding-left: 0.625rem;
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-flow: row wrap; }
  @media print, screen and (min-width: 40em) {
    .articles-page__container {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem; } }

.articles-page__title {
  flex: 0 0 auto;
  width: calc(100% - 1.25rem);
  margin-left: 0.625rem;
  margin-right: 0.625rem;
  color: #000000;
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
  /* Text style for "К, аталог" */
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  margin-bottom: 90px; }

.articles-page__menu {
  display: flex;
  flex-flow: row wrap;
  flex: 0 0 auto;
  width: calc(83.33333% - 1.25rem);
  margin-left: 0.625rem;
  margin-right: 0.625rem;
  margin-left: calc(8.33333% + 0.625rem);
  justify-content: center; }

.catalog-page__title {
  flex: 0 0 auto;
  width: calc(100% - 1.25rem);
  margin-left: 0.625rem;
  margin-right: 0.625rem;
  color: #000000;
  font-family: "Montserrat - Black", sans-serif;
  font-size: 48px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
  /* Text style for "К, аталог" */
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  margin-bottom: 90px; }

.catalog-page__container {
  padding-right: 0.625rem;
  padding-left: 0.625rem;
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-flow: row wrap; }
  @media print, screen and (min-width: 40em) {
    .catalog-page__container {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem; } }

.catalog-page__menu {
  display: flex;
  flex-flow: row wrap;
  flex: 0 0 auto;
  width: calc(100% - 1.25rem);
  margin-left: 0.625rem;
  margin-right: 0.625rem;
  justify-content: center; }

.catalog-page-doors__title {
  flex: 0 0 auto;
  width: calc(100% - 1.25rem);
  margin-left: 0.625rem;
  margin-right: 0.625rem;
  color: #000000;
  font-family: "Montserrat - Black", sans-serif;
  font-size: 48px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
  /* Text style for "К, аталог" */
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  margin-bottom: 90px; }

.catalog-page-doors__container {
  padding-right: 0.625rem;
  padding-left: 0.625rem;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  @media print, screen and (min-width: 40em) {
    .catalog-page-doors__container {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem; } }

.catalog-page-doors__header {
  display: flex;
  flex-flow: row wrap; }

.catalog-page-doors__steps {
  flex: 0 0 auto;
  width: calc(16.66667% - 1.25rem);
  margin-left: 0.625rem;
  margin-right: 0.625rem; }

.catalog-page-doors__promo {
  flex: 0 0 auto;
  width: calc(33.33333% - 1.25rem);
  margin-left: 0.625rem;
  margin-right: 0.625rem; }

.catalog-page-doors__promo-item {
  margin-bottom: 20px; }
  .catalog-page-doors__promo-item:last-child {
    margin-bottom: 0; }

.catalog-page-doors__promo-item-img {
  max-width: 100%; }

.catalog-page-doors__hits {
  flex: 0 0 auto;
  width: calc(41.66667% - 1.25rem);
  margin-left: 0.625rem;
  margin-right: 0.625rem;
  margin-left: calc(8.33333% + 0.625rem);
  position: relative;
  background-color: #eeeeee;
  border-radius: 25px; }

.catalog-page-doors__hits-icon {
  width: 195px;
  height: 195px;
  background-color: #dd1b2a;
  border-radius: 50%;
  display: inline-flex;
  position: absolute;
  color: #ffffff;
  font-size: 25px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
  align-items: center;
  transform: rotate(-45deg) translateX(0) translateY(-50%);
  top: 0;
  left: 0; }

.about-page__container {
  padding-right: 0.625rem;
  padding-left: 0.625rem;
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-flow: row wrap; }
  @media print, screen and (min-width: 40em) {
    .about-page__container {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem; } }

.about-page__title {
  flex: 0 0 auto;
  width: calc(100% - 1.25rem);
  margin-left: 0.625rem;
  margin-right: 0.625rem;
  color: #000000;
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
  /* Text style for "К, аталог" */
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  margin-bottom: 90px; }

.about-page__content {
  display: flex;
  flex-flow: row wrap;
  flex: 0 0 auto;
  width: calc(100% - 1.25rem);
  margin-left: 0.625rem;
  margin-right: 0.625rem; }
  .about-page__content img {
    max-width: 100%;
    max-height: 100%; }

.header {
  display: flex;
  flex-flow: row nowrap;
  width: calc(100% - 80px);
  margin: 25px 40px; }
  .header__logo {
    flex: 0 0 auto;
    width: calc(12.5% - 1.25rem);
    margin-left: 0.625rem;
    margin-right: 0.625rem;
    margin: 0;
    padding: 12px 15px 7px; }
  .header__tagline, .header__contacts {
    padding: 12px 15px 7px;
    border-left: 2px #d2393b solid; }
  .header__tagline {
    flex: 0 0 auto;
    width: calc(8.33333% - 1.25rem);
    margin-left: 0.625rem;
    margin-right: 0.625rem;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 500;
    line-height: 25px; }
  .header__contacts {
    flex: 0 0 auto;
    width: calc(16.66667% - 1.25rem);
    margin-left: 0.625rem;
    margin-right: 0.625rem; }
  .header__contacts-phone, .header__contacts-email {
    color: #000000;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 500;
    line-height: 37.5px;
    text-align: left;
    text-decoration: none;
    display: block; }
  .header__menu {
    display: flex;
    flex-flow: column wrap;
    flex: 0 0 auto;
    width: calc(58.33333% - 1.25rem);
    margin-left: 0.625rem;
    margin-right: 0.625rem;
    justify-content: center; }

.main-menu {
  width: 100%; }
  .main-menu__list {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    display: flex;
    flex-flow: row nowrap; }
    [data-whatinput='mouse'] .main-menu__list li {
      outline: 0; }
    .main-menu__list a,
    .main-menu__list .button {
      line-height: 1;
      text-decoration: none;
      display: block;
      padding: 0.7rem 1rem; }
    .main-menu__list input,
    .main-menu__list select,
    .main-menu__list a,
    .main-menu__list button {
      margin-bottom: 0; }
    .main-menu__list input {
      display: inline-block; }
  .main-menu__item {
    border-radius: 25px;
    background-color: #dd1b2a;
    border: 1px solid #dd1b2a;
    display: block;
    flex-grow: 1;
    margin: 0 10px 0 0; }
    .main-menu__item--selected, .main-menu__item:hover {
      background-color: #ffffff;
      border-color: #000000; }
      .main-menu__item--selected .main-menu__item-link, .main-menu__item:hover .main-menu__item-link {
        cursor: pointer;
        /* Style for "Каталог" */
        color: #000000;
        font-family: Montserrat;
        font-size: 29px;
        font-weight: 500;
        font-style: normal;
        letter-spacing: normal;
        text-align: center; }
  .main-menu__item-link {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 29px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center; }

.articles-detail__title {
  width: 100%; }

.articles-detail__content {
  width: 100%;
  overflow: hidden; }
  .articles-detail__content p {
    text-indent: 1rem;
    line-height: 1rem;
    text-align: justify;
    word-wrap: break-word; }
  .articles-detail__content img {
    border-radius: 25px;
    max-height: 100%;
    max-width: 100%; }
    .articles-detail__content img.right {
      float: right;
      margin: 20px 0 20px 20px; }
    .articles-detail__content img.left {
      float: left;
      margin: 20px 20px 20px 0; }

.our-partners {
  display: flex;
  flex-wrap: wrap;
  width: 100%; }
  .our-partners__title {
    margin: 30px 0 10px; }
  .our-partners__list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center; }
  .our-partners__item {
    width: 25%;
    padding: 10px; }
    .our-partners__item:not(:last-of-type) {
      padding-left: 0; }
    .our-partners__item:last-of-type {
      padding-right: 0; }
  .our-partners__img {
    max-width: 100%; }

.card-menu {
  display: flex;
  flex-flow: row wrap;
  width: inherit; }
  .card-menu__item {
    width: 100%;
    padding: 32px;
    margin: 0 0 40px;
    border-radius: 25px;
    background-color: #eeeeee;
    text-decoration: none;
    background-image: url("../img/card-menu-item-bg.png");
    min-height: 335px;
    display: flex;
    align-items: center;
    background-size: cover; }
    @media print, screen and (min-width: 40em) {
      .card-menu__item {
        width: calc(50% - 35px);
        margin: 0 35px 40px; }
        .card-menu__item:nth-child(2n-1) {
          margin-left: 0; }
        .card-menu__item:nth-child(2n) {
          margin-right: 0; } }
  .card-menu__item-text {
    /* Style for "В частный" */
    color: #ffffff;
    font-family: "Montserrat - Black";
    font-weight: bold;
    font-size: 40px;
    width: 100%;
    overflow: hidden; }

.title-h1 {
  border-radius: 25px;
  background: #505659;
  background: linear-gradient(90deg, #505659 0%, rgba(106, 113, 118, 0.50744) 100%);
  padding: 50px;
  color: #ffffff;
  font-weight: bold;
  font-family: "Montserrat - Black";
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
  /* Text style for "Д, вери дл" */
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  overflow: hidden;
  margin: 0 0 50px;
  font-size: 3rem; }
  .title-h1__text {
    font-size: 3rem; }

.articles-list__title {
  width: 100%; }

.benefits {
  display: flex;
  flex-flow: row wrap; }
  .benefits__item {
    flex: 0 0 auto;
    width: calc(100% - 1.25rem);
    margin-left: 0.625rem;
    margin-right: 0.625rem;
    background-size: cover;
    background: no-repeat center center;
    min-height: 150px;
    border-radius: 25px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #80868e; }
    @media print, screen and (min-width: 64em) {
      .benefits__item {
        flex: 0 0 auto;
        width: calc(33.33333% - 1.875rem);
        margin-left: 0.9375rem;
        margin-right: 0.9375rem;
        background-size: contain;
        margin-bottom: 0; } }
    .benefits__item-title {
      color: #ffffff;
      font-family: "Montserrat - Black";
      font-size: 33px;
      font-weight: 400;
      font-style: normal;
      letter-spacing: normal;
      line-height: normal;
      text-align: left;
      font-style: normal;
      letter-spacing: normal;
      line-height: normal; }
    .benefits__item-description {
      color: #ffffff;
      font-family: Montserrat;
      font-size: 25px;
      font-weight: 500;
      font-style: normal;
      letter-spacing: normal;
      line-height: normal;
      text-align: left;
      font-style: normal;
      letter-spacing: normal;
      line-height: normal; }

.steps__item {
  color: #000000;
  font-family: Montserrat, serif;
  font-size: 26px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
  /* Text style for "Заполните" */
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  position: relative;
  margin-bottom: 25px;
  padding-bottom: 30px; }
  .steps__item::after {
    content: '';
    display: block;
    width: 56px;
    height: 21px;
    position: absolute;
    bottom: 0;
    background: url(../img/icons/arrow-red-down.svg) center no-repeat;
    top: 100%;
    right: 50%;
    transform: translateX(50%); }
  .steps__item:last-child {
    padding-bottom: 0; }
    .steps__item:last-child::after {
      display: none; }

.map {
  margin: 30px 0 10px;
  width: 100%;
  height: 300px; }

/*# sourceMappingURL=screen.css.map */