.cont-img img {
    width: 85%;
    max-height: 100%;
}

.sections-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Пагинация в каталоге */
nav.pagination {
    display: block;
    background: #ccc;
    margin-bottom: 30px;
    font-size: 12px;
    text-align: center;
    height: 41px;
    background: #F9F9F9;
}
nav.pagination li {
    margin: 0 4%;
    line-height: 41px;
    list-style: none;
}
nav.pagination ul {
    display: flex;
    justify-content: center;
}
i {
    border: solid #EF233C;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    margin-top: 15px;
}

.arrow.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.arrow.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}
nav.pagination ul li a {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 113.3%;
    color: #EF233C;
}
nav.pagination ul li span {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 113.3%;
    color: #2B2D42;
}

.oun {
    max-width: 70%;
}

.oun > img {
    width: 100%;
}

.content-function {
    padding-top: 300px;
}

.doors-container ul {
    display: flex;
}
.doors-container .title {
    text-align: center;
}
.doors-container ul li:not(:last-of-type) {
    margin-right: 11%;
}
.doors-container ul li {

}
.doors-container ul li img {

}
.doors-container {
    margin-bottom: 30px;
}

ul li {
    list-style: none;
}

.pt-50 {
    padding-top: 50px;
}

.button {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 200px;
    height: 44px;
    background-color: #EF233C;
    font-size: 18px;
    color: #fff;
    border: none;
    text-align: center;
    line-height: 44px;
    cursor: pointer;
}

.form-row {
    display: flex;
    padding: 15px 0 15px;
    font-size: 20px;
    justify-content: space-between;
}

.form-row input {
    margin-left: 50px;
    outline: none;
    border: none;
    border-bottom: 2px solid #2B2D42;
}

.form-row input:focus {
    border-bottom: 2px solid #EF233C;
}

.send_form {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 200px;
    height: 44px;
    background-color: #EF233C;
    font-size: 15px;
    color: #fff;
    border: none;
    text-align: center;
    line-height: 44px;
    cursor: pointer;
    margin-left: 20%;
}

.btn-container {
    padding: 25px 0 25px;
}

.send_form[disabled=disabled] {
    cursor: default;
    background-color: #F2F2F2;
    color: #2B2D42;
    border: 1px solid #2B2D42;
}
#feedback {
    display: none;
    position: absolute;
    top: 20%;
    left: 37%;
}
.flex {
    display: flex;
}
.filt-car span {
    position: absolute;
    top: 10px;
}
.under-header-image {
    max-width: 100%;
}

.under-header div {
    padding-top: 42px;
    padding-bottom: 44px;
    background-image: url(../images/slide_1.png);
    background-repeat: no-repeat;
    background-position: right;
    -webkit-background-size: contain;
    background-size: contain;
}

.about_content {
    font-size: 17px;
    line-height: 1.5;
}

.map {
    padding: 25px 0 100px;
    max-width: 100%;
}


.partners_container {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 25px;
}

.partner {
    padding-top: 25px;
    width: 25%;
}

.partner:not(:last-of-type) {
    padding-right: 20px;
}

.partner img {
    max-width: 100%;
}

.row.picture {
    padding: 25px 15px 25px;
}

.row.picture img {
    max-width: 100%;
}

@media only screen and (max-width: 480px) {
    .input-rage-cont {
        display: block!important;
    }
    .finish-item {
        display: block!important;
    }
}

.finish-color div.active {
    border: 2px solid black;
}

.button.form_call {
    margin-top: 25px;
}

.finish-item {
    display: block;
}

.container-frame {
    height: 70%;
}

.content span img {
    width: 100%;
    height: 100%;
}
.content label img{
    border-radius: 50%;
    position: absolute;
    top: 54%;
    left: -10%;
}
.col-sm-4{
    padding: 0;

}

.content-f{
    float: right;
}

.borr{
    border-top: 2px solid #EF233C;
}
.frame{
    padding-bottom: 30px;
    padding-top: 30px;
}
.text{
    padding-top: 70px;
}
.text h2{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 113.3%;
    /* identical to box height, or 16px */


    color: #EF233C;
}

.content label .too{
    top: 52%;
}


.page{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.to-butt-headers-car {
    width: 100%;
    max-width: 370px;
    margin-bottom: 20px;
    border: 2px solid red;
}
.to-butt-headers-car img{
    padding: 30px;
    background-position: center;
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
}


.frame h1 {
    font-size: 69px;
}

.fr-lef {
    margin-left: 100px;
}

.fr-rig {
    margin-right: 350px;
}

@media only screen and (max-width: 480px) {
    .form label {
        line-height: 56px;
    }
}

.buttons .send_form {
    line-height: 34px;
}

@media only screen and (max-width: 768px) {
    .content-left .free img {
        transform: translate(180px, 155px);
        height: 185px;
    }
    .oun {
        max-width: 85%;
    }
}

@media only screen and (max-width: 768px) {
    .content-function-1 {
        height: 80px;
    }

    .to-butt-headers-car {
        max-width: 290px;
    }
}

@media only screen and (max-width: 768px) {
    .content label img {
        top: 60%;
        left: 10%;
    }
    .too {
        top: 60%!important;
        left: 10%!important;
    }
    .fr-lef {
        margin-left: 0px;
    }
    .fr-rig {
        margin-right: 0px;
    }
}

@media only screen and (max-width: 480px) {
    .frame h1 {
        margin-top: 125%;
        font-size: 30px;
    }
    .fr-lef {
        margin-left: 300px;
        transform: translate(-282px, 0px);
    }
    .fr-rig {
        margin-right: 0px;
        transform: translate(0px, -67px);

    }
}

@media only screen and (max-width: 375px) {
    .the-door-wrap {
        top: 65%;
    }
    .frame h1 {
        font-size: 27px;
        margin-top: 100%;
    }
    .fr-lef {
        margin-left: 282px;
    }
    .fr-rig {
        margin-right: 0px;
        transform: translate(-20px, -60px);
    }
}

@media only screen and (max-width: 375px) and (min-width: 350px) {
    .fr-lef {
        margin-left: 315px;
    }
}

.text-botton {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 113.3%;
    /* or 16px */

    text-transform: uppercase;
    color: #EF233C;
    font-weight: 600;
}
p.text-botton {
    margin: 10px 25px 15px 25px;
}

a.full-block-link {
    display: block;
    height: 100%;
}

label.old-price {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 113.3%;
    text-decoration-line: line-through;
    color: #A1A1A1;
    padding: 7px 0px 0px 10px;
}

.summ {
    justify-content: flex-start;
}