.articles-detail {
  &__title {
    width: 100%;
  }

  &__content {
    width: 100%;
    overflow: hidden;

    p {
      text-indent: 1rem;
      line-height: 1rem;
      text-align: justify;
      word-wrap: break-word;
    }

    img {
      border-radius: 25px;
      max-height: 100%;
      max-width: 100%;

      &.right {
        float: right;
        margin: 20px 0 20px 20px;
      }

      &.left {
        float: left;
        margin: 20px 20px 20px 0;
      }
    }
  }
}
