.benefits {
  @include xy-grid();

  &__item {
    @include xy-cell(12);
    background-size: cover;
    background: no-repeat center center;
    min-height: 150px;
    border-radius: 25px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #80868e;

    @include breakpoint(large) {
      @include xy-cell(4);

      background-size: contain;
      margin-bottom: 0;
    }

    &-title {
      // Style for "ГАРАНТИЯ Л"
      color: #ffffff;
      font-family: "Montserrat - Black";
      font-size: 33px;
      font-weight: 400;
      font-style: normal;
      letter-spacing: normal;
      line-height: normal;
      text-align: left;
      // Text style for "ГАРАНТИЯ Л"
      font-style: normal;
      letter-spacing: normal;
      line-height: normal;
    }

    &-description {
      // Style for "Для произв"
      color: #ffffff;
      font-family: Montserrat;
      font-size: 25px;
      font-weight: 500;
      font-style: normal;
      letter-spacing: normal;
      line-height: normal;
      text-align: left;
      // Text style for "Д, ля прои"
      font-style: normal;
      letter-spacing: normal;
      line-height: normal;
    }
  }
}
