
.card-menu {
  @include xy-grid();
  width: inherit;

  &__item {
    width: 100%;
    padding: 32px;
    margin: 0 0 40px;
    border-radius: 25px;
    background-color: #eeeeee;
    text-decoration: none;
    background-image: url('../img/card-menu-item-bg.png');
    min-height: 335px;
    display: flex;
    align-items: center;
    background-size: cover;


    @include breakpoint(medium) {
      width: calc(50% - 35px);
      //height: 335px;
      //opacity: 0.65;
      margin: 0 35px 40px;


      &:nth-child(2n-1) {
        margin-left: 0;
      }

      &:nth-child(2n) {
        margin-right: 0;
      }
    }
  }

  &__item-text {
    /* Style for "В частный" */
    color: #ffffff;
    font-family: "Montserrat - Black";
    font-weight: bold;
    font-size: 40px;
    width: 100%;
    overflow: hidden;
  }
}
