.header {
  @include xy-grid($wrap: false);
  width: calc(100% - 80px);
  margin: 25px 40px;

  &__logo {
    @include xy-cell(1.5);
    margin: 0;
    padding: 12px 15px 7px;
  }

  &__tagline,
  &__contacts {
    padding: 12px 15px 7px;
    border-left: 2px #d2393b solid;
  }

  &__tagline {
    @include xy-cell(1);
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 500;
    line-height: 25px;
  }

  &__contacts {
    @include xy-cell(2);

  }


  &__contacts-phone,
  &__contacts-email {
    color: #000000;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 500;
    line-height: 37.5px;
    text-align: left;
    text-decoration: none;
    display: block;
  }

  &__menu {
    @include xy-grid($direction: row);
    @include xy-cell(7);
    justify-content: center;
  }
}
