.main-menu {
  width: 100%;

  &__list {
    @include menu-base();
    @include xy-grid($wrap: false);
  }

  &__item {
    border-radius: 25px;
    background-color: #dd1b2a;
    border: 1px solid #dd1b2a;
    display: block;
    flex-grow: 1;
    margin: 0 10px 0 0;

    &--selected,
    &:hover {
      background-color: #ffffff;
      border-color: #000000;

      .main-menu {
        &__item-link {
          cursor: pointer;
          /* Style for "Каталог" */
          color: #000000;
          font-family: Montserrat;
          font-size: 29px;
          font-weight: 500;
          font-style: normal;
          letter-spacing: normal;
          //line-height: normal;
          text-align: center;
        }
      }
    }
  }

  &__item-link {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 29px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
  }
}
