.our-partners {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  &__title {
    margin: 30px 0 10px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
  }

  &__item {
    width: 25%;
    padding: 10px;

    // TODO: адаптивность

    //@include breakpoint_xs() {
    //  width: calc(100% / 2);
    //}
    //
    //@include breakpoint_sm() {
    //  width: calc(100% / 3);
    //}
    //
    //@include breakpoint_md() {
    //  width: calc(100% / 3);
    //}

    &:not(:last-of-type) {
      padding-left: 0;
    }

    &:last-of-type {
      padding-right: 0;
    }
  }

  &__img {
    max-width: 100%;
  }
}
