.steps {

  &__list {
  }

  &__item {
    color: #000000;
    font-family: Montserrat, serif;
    font-size: 26px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
    /* Text style for "Заполните" */
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    position: relative;
    margin-bottom: 25px;
    padding-bottom: 30px;

    &::after {
      content: '';
      display: block;
      width: 56px;
      height: 21px;
      position: absolute;
      bottom: 0;
      background: url(../img/icons/arrow-red-down.svg) center no-repeat;
      top: 100%;
      right: 50%;
      transform: translateX(50%);
    }

    &:last-child {
      padding-bottom: 0;

      &::after {
        display: none;
      }
    }
  }

}
