
.title-h1 {
  border-radius: 25px;
  background: rgb(80, 86, 89);
  background: linear-gradient(90deg, rgba(80, 86, 89, 1) 0%, rgba(106, 113, 118, 0.5074404761904762) 100%);
  padding: 50px;
  color: #ffffff;
  font-weight: bold;
  font-family: "Montserrat - Black";
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
  /* Text style for "Д, вери дл" */
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  overflow: hidden;
  margin: 0 0 50px;
  font-size: 3rem;

  &__text {
    font-size: 3rem;
  }
}
